* {
    box-sizing: border-box;
}


.wrapper {
    width: 970px;
    //text-align: center;
}

.row {
    width: 970px;
}

#out, #out2{
    position: relative; 
    display: block;
    float: left;
    width: 50%;
    //text-align: center;
    text-align: top;
    min-height: 1px;
}

#out:after, #out2:after .row:after .row:before {
    display: table;
    content: " ";
    //height: 0;
    clear: both;
}

#out:before, #out2:before {
    content: " ";
    height: 0;
    clear: both;
}

.list-item, .list-item2 {
    transition: all 0.5s ease-in-out;
    opacity: 0.8;
    height: 50px;
    background-color: green;
    color: #fff;
    margin: 5px;
    border-radius: 5px 5px 5px 5px;
    font-size: 20px;
}

.list-item:hover {
    opacity: 1;
}


/* TODOLIST */

#tasks-list > a > input {
    float: left;
    margin-top: 18px;
}

#tasks-list > .list-group-item:after {
    content: "";
    display: table;
    clear: both;
}



.task-content {
    margin-left: 50px;
}

.button-delete-task, .button-edit-task {
    float: right;
    margin-left: 10px;
}

.edit-window {
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

.edit-window > input, .edit-window > textarea {
    display: block;
    width: 100%;
}
